body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.foto {
  width: 100%;
  height: 650px;
}

.Header{
  background-image: url('./touch.jpg')
  
}

.white {
  color: white;
}

.darkbg{
  color: white;
  background-color: black;
  width: 20%;
  margin-left: 120px;
 
}

.myself{
  width: 600px;
  margin-left: 200px;
  margin-top: 40px;
}

.darkbgtwo{
  color: white;
  background-color: black;
  width: 40%;
  margin-top: 30px;
  margin-left: 800px;
 
}

.bio{
  width: 600px;
  margin-left: 450px;
}

.code{
  width: 120px;
  height: 120px;
}

ul {
  margin-top: 20px;
  list-style: none;
  display: inline-flex;

}
li {
  margin-right: 60px;
}

.resp{
  width: 500px;
  height: 300px;
}

.ipho {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 880px;
}

.defin{
width: 460px;
}

.icon{
  float: left;
  width: 150px;
  height: 100px;
margin-right: 900px;
}

.icons{
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 300px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}